<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Register - FinTrack{% endblock %}

{% block content %}
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Registration</h2>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="post" action="{{ url_for('register') }}">
                    <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control item"
                                                                                              type="text" id="name"
                                                                                              name="name"
                                                                                              data-bs-theme="light"
                                                                                              required></div>
                    <div class="mb-3"><label class="form-label" for="password">Password</label><input
                            class="form-control item" type="password" id="password" name="password"
                            required></div>
                    <div class="mb-3"><label class="form-label" for="email">Email</label><input
                            class="form-control item" type="email" id="email" name="email"
                            required></div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
